{extend name="template/base" /}
{block name="content"}

<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <input type="hidden" name="id" value="{$vo.id ?? ''}">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">学生账号：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="学生账号" readonly name="account" value="{$vo1.account ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
		<div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">绑定手机：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="绑定手机" readonly name="number" value="{$vo1.contact ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="left" style="width:35%;float: left ;margin-top: 10px">
            <div class="row cl" style="width:151%">
                <label class="form-label col-xs-3 col-sm-3" style="width:48%"><span class="c-red">*</span>人脸图片采集：</label>
                <div class="formControls col-xs-6 ">
                    <!--<input type="text" class="input-text" id="upload" placeholder="请点击后面的上传按钮" datatype="*" nullmsg="请填写图片url" style="width: 70%">-->
                    <button type="button" class="btn btn-primary radius" onclick="layer_open('文件上传','{:\\think\\Url::build(\'Upload/index\', [\'id\' => \'upload\'])}?type=1&funId=1&personId=1&self=1&pid={$vo1.id}')">上传</button>
                    <!--<a onclick="$(this).attr('href', $('#upload').val())" type="button" class="btn btn-success radius" data-lightbox="preview">预览</a>-->
                       
                </div>
                <div class="col-xs-3 col-sm-3"></div>
            </div>
            <div class="row cl" style="width:151%">
                <label class="form-label col-xs-3 col-sm-3" style="width:48%"><span class="c-red">*</span>车辆图片采集：</label>
                <div class="formControls col-xs-6">
                    <!--<input type="text" class="input-text" id="upload1" placeholder="请点击后面的上传按钮" datatype="*" nullmsg="请填写图片url" style="width: 70%">-->
                    <button type="button" class="btn btn-primary radius" onclick="layer_open('文件上传','{:\\think\\Url::build(\'Upload/index\', [\'id\' => \'upload\'])}?type=1&funId=2&personId=1&self=1&pid={$vo1.id}')">上传</button>
                    <!--<a onclick="$(this).attr('href', $('#upload').val())" type="button" class="btn btn-success radius" data-lightbox="preview">预览</a>-->
                  
                </div>
                <div class="col-xs-3 col-sm-3"></div>
            </div>
        </div>

        <div style="margin-top: 25px;">
            <?php if(!empty($image)) {?>
                <img src="{$image}" width="80" height="80" style="border-radius:10px;"/>
            <?php } ?>

        </div>
       

		<div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">自身权限：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="access" id="acess-1" value="1">
                    <label for="acess-1">启用</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="access" id="acess-0" value="0">
                    <label for="acess-0">禁用</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
		{volist name="vo2" id="vo2"}
		<div class="row cl">
		    <label class="form-label col-xs-3 col-sm-3">{$vo2.relation}-{$vo2.name}：</label>
            <div class="formControls col-xs-6 col-sm-6">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
		<div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">权限：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="lAccess_{$vo2.id}" id="lAcess-1" value="1">
                    <label for="lAcess-1">启用</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="lAccess_{$vo2.id}" id="lAcess-0" value="0">
                    <label for="lAcess-0">禁用</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl" tyle="width:100%;">
            <div class="left" style="width:35%;float: left">
                <div class="row cl" style="width:151%">
                    <label class="form-label col-xs-3 col-sm-3" style="width:48%"><span class="c-red">*</span>人脸图片采集：</label>
                    <div class="formControls col-xs-6 " >
                        <!--<input type="text" class="input-text" id="upload" placeholder="请点击后面的上传按钮" datatype="*" nullmsg="请填写图片url" style="width: 70%">-->
                        <button type="button" class="btn btn-primary radius" onclick="layer_open('文件上传','{:\\think\\Url::build(\'Upload/index\', [\'id\' => \'upload\'])}?type=1&funId=1&personId=2&self=0&pid={$vo2.id}')">上传</button>
                            
                    </div>
                    <div class="col-xs-3 col-sm-3"></div>
                </div>
                <div class="row cl" style="width:151%">
                    <label class="form-label col-xs-3 col-sm-3" style="width:48%"><span class="c-red">*</span>车辆图片采集：</label>
                    <div class="formControls col-xs-6 " >
                        <!--<input type="text" class="input-text" id="upload1" placeholder="请点击后面的上传按钮" datatype="*" nullmsg="请填写图片url" style="width: 70%">-->
                        <button type="button" class="btn btn-primary radius" onclick="layer_open('文件上传','{:\\think\\Url::build(\'Upload/index\', [\'id\' => \'upload\'])}?type=1&funId=2&personId=2&self=0&pid={$vo2.id}')">上传</button>
                        <!--<a onclick="$(this).attr('href', $('#upload').val())" type="button" class="btn btn-success radius" data-lightbox="preview">预览</a>-->
                        
                    </div>

                    <div class="col-xs-3 col-sm-3"></div>
                </div>
            </div>
            <div >
                 <?php if(!empty($vo2['image'])) {?>
                           <img src="{$vo2.image}"  width="80" height="80" style="border-radius:10px;margin-top: 10px;"/>
                         <?php } ?>
             
                   <?php if(!empty($vo2['carimage'])) {?>
                   <img src="{$vo2.carimage}"  width="80" height="80" style="border-radius:10px;margin-top: 10px;"/>
                 <?php } ?>
            </div>
        </div>
        {/volist}
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">备注：</label>
            <div class="formControls col-xs-6 col-sm-6">

				<textarea class="textarea" placeholder="" name="remark" onKeyUp="textarealength(this,100)">{$vo.remark ?? ''}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {
		$("[name='access'][value='{$vo.access ?? '0'}']").prop("checked", true);
        var vo2_js = <?php echo json_encode($vo2js); ?>;
        
        var aarr = eval(vo2_js);
        
        //var ss = '{$vo.lAccess}'.split(",");
        for (i = 0; i < aarr.length; i++) {
            var str = 'lAccess_' + aarr[i]['id'];
            //alert(aarr[i]['access']);
            if (aarr[i]['access'] == '1') {
                $("[name='" + str + "'][value='1']").prop("checked", true);
            } else {
                $("[name='" + str + "'][value='0']").prop("checked", true);
            }
        }
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
            }
        });
    })
</script>
{/block}
