<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
   
	<input type="text" class="input-text" style="width:250px" placeholder="请输入省" name="province" value="{$Request.param.province}" >
    <input type="text" class="input-text" style="width:250px" placeholder="请输入市" name="city" value="{$Request.param.city}" >
    <input type="text" class="input-text" style="width:250px" placeholder="校区性质" name="schoolNature" value="{$Request.param.schoolNature}" >
	<input type="text" class="input-text" style="width:250px" placeholder="学校等级" name="educationLevel" value="{$Request.param.educationLevel}"  >
    <input type="text" class="input-text" style="width:250px" placeholder="校区名称" name="schoolName" value="{$Request.param.schoolName}"  >
    <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>

<form  method="post" action="{:\\think\\Url::build('admin/ArtTutoring/upload')}" enctype="multipart/form-data">
    <div style="position:relative;">
        <input type="file" class="input-text" style="width:250px;opacity: 0" name="file" value="" >
        <p style="position: absolute;width:250px;top:0;line-height: 30px;text-align: center;border: 1px solid #DDD;background: #fff;z-index: -1;">上传excel</p>
        <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i>导入</button>
   </div>
</form>