<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="keywords" content="派职网,高考">
		<title>派职网</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css"/>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<a href="index.html" ><img src="__STATIC__/img/logo1.png" class="logo"/></a>
				<a href="city.html" class="city">合肥 <span class="glyphicon glyphicon-triangle-bottom"></span></a>
			</div>
		</nav>
		<div class="container container-top">
			<h1 class="visible-xs title-h1">职位管理</h1>
			<div class="col-sm-8 col-xs-12" >
				<header class="m-t15 hidden-xs banner">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						</ol>
						<div class="carousel-inner" role="listbox" >
							<div class="item active" >
								<img src="__STATIC__/img/banner.png" alt="派职网" width="100%">
							</div>
							<div class="item">
								<img src="__STATIC__/img/banner.png" alt="派职网" width="100%">
							</div>
						</div>
					</div>
				</header>
				<section class="m-t15">
					<ul class="nav-son o-h">
						<li>
							<a href="{:url('index/index')}?property=1">
								<img src="__STATIC__/img/item1.png" width="100%"/>
								<p>日结兼职</p>
							</a>
						</li>
						<li>
							<a href="{:url('index/index')}?property=2">
								<img src="__STATIC__/img/item2.png"width="100%"/>
								<p>长期兼职</p>
							</a>
						</li>
						<li>
							<a href="{:url('index/index')}?property=3">
								<img src="__STATIC__/img/item3.png"width="100%"/>
								<p>实习兼职</p>
							</a>
						</li>
						<li>
							<a href="{:url('index/index')}?property=4">
								<img src="__STATIC__/img/item4.png"width="100%"/>
								<p>旅行兼职</p>
							</a>
						</li>
					</ul>
				</section>
				<section class="key-select hidden-xs">
					<h3>最新职位:</h3>
					<ul class="js-select">
						<li>
							<span>类型：</span>
							<a href="{:url('index/index')}?property=0&type=0&area=0" {if condition="$property eq 0"}class="new-pag" {/if}>不限</a>
							<a href="{:url('index/index')}?property=1&type=0&area=0" {if condition="$property eq 1"}class="new-pag" {/if}>日结兼职</a>
							<a href="{:url('index/index')}?property=2&type=0&area=0" {if condition="$property eq 2"}class="new-pag" {/if}>长期兼职</a>
							<a href="{:url('index/index')}?property=3&type=0&area=0" {if condition="$property eq 3"}class="new-pag" {/if}>实习兼职</a>
							<a href="{:url('index/index')}?property=4&type=0&area=0" {if condition="$property eq 4"}class="new-pag" {/if}>旅行兼职</a>
						</li>
						<li>
							<span>种类：</span>
							<a href="{:url('index/index')}?property=0&type=0&area=0" <?php if(empty($type)){?>class="new-pag" <?php } ?> >不限</a>
							{volist name="type1" id="vo"}
							<a href="{:url('index/index')}?property=0&type={$vo.type}&area=0" {if condition="$vo['type'] eq $type"}class="new-pag" {/if}>{$vo.type}</a>
							
							{/volist}
						</li>
						<li>
							<span>区域：</span>
							<a href="{:url('index/index')}?property=0&type=0&area=0" <?php if(empty($area)){?>class="new-pag" <?php } ?>>不限</a>
							{volist name="area1" id="vo1"}
							<a href="{:url('index/index')}?property=0&type=0&area={$vo1.area}" {if condition="$vo1['area'] eq $area"}class="new-pag" {/if}>{$vo1.area}</a>
							{/volist}
						</li>
					</ul>
				</section>
				<section class="m-t15 list-job">
					<label for="search-text" style="font-size: 16px">搜索职位:</label>
				  	<input type="text" id="search-text" placeholder="请输入职称/地理位置进行筛选" class="form-control">
				  	<span class="list-count">共{$count}条</span>
					<ul id="list">
					{if condition="$part" id="vo3"}
					{volist name="part" id="vo2"}
						<a href="listpage.html">
							<li class="in">
								<span class="new-pag-green">{$vo2.wageGuarantee}</span>&nbsp;<span class="title">{$vo2.positionName}</span>
								<p class="new">
									<span class="title">{$vo2.area}</span><span>&nbsp;|&nbsp;已报名{$vo2.enroolCount}&nbsp;|&nbsp;需求{$vo2.count}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>{$vo2.period}</span>
								</p>
								<p class="new"><span class="new-pag-bor font-12">{$vo2.type}</span><span class="new-pag-bor font-12">{$vo2.payroll}</span><span class="f-r">{$vo2.release_time}</span></p>
							</li>
						</a>
				    {/volist}
					{else/}	
						<span class="empty-item">无数据</span>
					{/if}
					</ul>
				<!-- {$page} -->
				</section>
				{$page}
				<footer class="m-t15 hidden-xs">
					<div class="friend-link">
						<ul>
							<li>友情链接：</li>
							<li><a href="javascript:">派职网</a>|</li>
							<li><a href="javascript:">派职网</a>|</li>
							<li><a href="javascript:">派职网</a>|</li>
							<li><a href="javascript:">派职网</a></li>
						</ul>
					</div>
					<div>
						©2001-2018 安徽派职网 | 派职网 
					</div>
				</footer>
				<footer class="footer visible-xs">
					<a href="javascript:">下载派职网，随时随地派职给你</a>
				</footer>
			</div>
			<div class="col-sm-4 hidden-xs">
				<h4 class="m-t15">热门职位</h4>
				<div class="m-t15 right-ul">
					<a href="javascript:">传单派发</a>
				 	<a href="javascript:">餐厅兼职</a>
				 	<a href="javascript:">市场调查</a>
				 	<a href="javascript:">产品促销</a>
				</div>
				<h4 class="m-t15">热门城市</h4>
				<div class="m-t15 right-ul">
					<a href="javascript:">南京</a>
				 	<a href="javascript:">北京</a>
				 	<a href="javascript:">上海</a>
				 	<a href="javascript:">合肥</a>
				</div>
				<div class="m-t15 app" id="app">
					<div class="col-sm-4">
						<img src="__STATIC__/img/ma.png" alt="派职网" title="派职网" width="100%"/>
					</div>
					<div class="col-sm-8">
						<p>下载派职网APP <span class="glyphicon glyphicon-menu-right"></span></p>
						<span>随时随地派职给你</span>
					</div>
					<div class="c-b"></div>
					<div class="app-show">
						<img src="__STATIC__/img/ma.png" width="100%"/>
						<img src="__STATIC__/img/jt.png" class="app-jt"/>
					</div>
				</div>
			</div>
		</div>
		<div class="actGotop"><a href="javascript:;" title="返回顶部" class="glyphicon glyphicon-menu-up"></a><br/>TOP</div>
	</body>
	<script src="__STATIC__/js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/js/gotop.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		
	</script>
</html>
