<th width="25"><input type="checkbox"></th>
<th width="">{:sort_by('序号','id')}</th>
<th width="">{:sort_by('学校名称','schoolName')}</th>
<th width="">{:sort_by('班级名称','className')}</th>
<th width="">{:sort_by('学员账号','account')}</th>
<th width="">{:sort_by('姓名','name')}</th>
<th width="">{:sort_by('性别','sex')}</th>
<th width="">{:sort_by('出生日期','birthDate')}</th>
<th width="">{:sort_by('身高','height')}</th>
<th width="">{:sort_by('体重','weight')}</th>
<th width="">{:sort_by('头像','student_headurl')}</th>
<th width="">{:sort_by('联系电话','contact')}</th>
