<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <title></title>
    <link rel="stylesheet" href="__STATIC__/css/reset.css" />
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <script type="text/javascript" src="__STATIC__/js/jquerys-1.7.2.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/rem.js"></script> 
	<style>
	.bb_p{    
	font-size: 0.2rem;
    height: 0.4rem;
	color: #484b4c;
    line-height: 0.4rem;
    text-indent: 0.4rem;}
	
	.bb_p img{width:100%;height:auto;}
	</style>
</head>

<body>
    <div id="wrap">
        <header class="header">
            <a href="javascript:;" onclick="history.go(-1)" class="back"></a>版权信息
		</header>
        <div class="bb_w_l_jy jy">
		
            <div class="bb_w_l">
				<div class="bb_p">
                <p>宝贝之家APP由安徽郎懿互联科技集团有限公司开发出品。
致力于提升幼儿园安全管理效率，在线直播让家长时时了解孩子在园内学习生活情况，每周食谱及宝宝课堂查看孩子每天课程及营养膳食，宝宝考勤查看进出园区门禁监控，宝宝日记记录孩子的成长点滴，明星榜通过老师打榜了解孩子的性趣爱好特长培养，建立家长与园区信息反馈通道。</p>
				</div>
            </div>
        
        </div>
    </div>
    
</body>

</html>