 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <title>本月排行榜</title>
    <link rel="stylesheet" href="__STATIC__/css/reset.css" />
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <link rel="stylesheet" href="__STATIC__/css/swiper-3.4.2.min.css">
    <script type="text/javascript" src="__STATIC__/js/rem.js"></script>
    <script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__/js/swiper-3.4.2.jquery.min.js"></script>
	<script src="__STATIC__/js/jsbridge.js"></script>
</head>

<body>
    <div id="wrap">
        <header class="header header-fixed">
            <a class="back"></a> 本月排行榜
            <a class="right_link">规则说明</a>
        </header>
       	<div class="ranking-item"> 
        	<a href="javascript:" class="ranking-item_a">班级之星</a> 
        	<a href="javascript:">明星家长</a> 
        	<a href="javascript:">班级排名</a> 
        	<a href="javascript:" >等级排名</a> 
        </div>
		<div id="ranking-item-container1" class="swiper-container" >
		    <div class="swiper-wrapper">
			    <div class="swiper-slide swiper-slide1">
			        <div class="content-slide">
				        <ul class="news-list">
				        	<span >
				        		成长值
				        	</span>
				       		<li>
				       			<span class="fl"><img src="__STATIC__/img/no.1.png"/></span>
				       			<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
				       			学生1
				       			<span class="fr">200</span>
				       		</li>
							<li>
								<span class="fl"><img src="__STATIC__/img/no.2.png"/></span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生2
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl"><img src="__STATIC__/img/no.3.png"/></span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生3
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl">4</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生4
								<span class="fr">200</span>
							</li>
							<li class="news-list_li">
								<span class="fl">5</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								我
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl">6</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生6
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl">7</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生7
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl">8</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生8
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl">9</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生9
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl">10</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生10
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl">11</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生11
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl">12</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生12
								<span class="fr">200</span>
							</li>
				        </ul>
			        </div>
			      </div>
			      <div class="swiper-slide swiper-slide1">
			        <div class="content-slide">
				        <ul class="news-list">
				        	<span >
				        		成长值
				        	</span>
				       		<li>
				       			<span class="fl"><img src="__STATIC__/img/no.1.png"/></span>
				       			<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
				       			学生1
				       			<span class="fr">200</span>
				       		</li>
							<li>
								<span class="fl"><img src="__STATIC__/img/no.2.png"/></span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生2
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl"><img src="__STATIC__/img/no.3.png"/></span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生3
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl">4</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生4
								<span class="fr">200</span>
							</li>
				        </ul>
			        </div>
			    </div>
			    <div class="swiper-slide swiper-slide1">
			        <div class="content-slide"> 
			        	<ul class="news-list">
				        	<span >
				        		成长值
				        	</span>
				       		<li>
				       			<span class="fl"><img src="__STATIC__/img/no.1.png"/></span>
				       			<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
				       			学生1
				       			<span class="fr">200</span>
				       		</li>
							<li>
								<span class="fl"><img src="__STATIC__/img/no.2.png"/></span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生2
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl"><img src="__STATIC__/img/no.3.png"/></span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生3
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl">4</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生4
								<span class="fr">200</span>
							</li>
				        </ul>
			        </div>
			    </div>
			    <div class="swiper-slide swiper-slide1">
			        <div class="content-slide"> 
			        	<ul class="news-list">
				        	<span >
				        		成长值
				        	</span>
				       		<li>
				       			<span class="fl"><img src="__STATIC__/img/no.1.png"/></span>
				       			<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
				       			学生1
				       			<span class="fr">200</span>
				       		</li>
							<li>
								<span class="fl"><img src="__STATIC__/img/no.2.png"/></span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生2
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl"><img src="__STATIC__/img/no.3.png"/></span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生3
								<span class="fr">200</span>
							</li>
							<li>
								<span class="fl">4</span>
								<div class="fl server-head server-head2">
				            		<img src="__STATIC__/img/dada.jpg"/>
				            	</div>
								学生4
								<span class="fr">200</span>
							</li>
				        </ul>
			        </div>
			    </div>
			</div>
		</div>

	<script type="text/javascript">
	$(function(){
		var rankingSwiper = new Swiper('#ranking-item-container1', {
			speed: 500,
			on: {
				slideChangeTransitionStart: function() {
					$(".ranking-item .ranking-item_a").removeClass('ranking-item_a');
					$(".ranking-item a").eq(this.activeIndex).addClass('ranking-item_a');
					}
				}
			})
		$(".ranking-item a").on('click', function(e) {
			e.preventDefault()
			$(".ranking-item .ranking-item_a").removeClass('ranking-item_a')
			$(this).addClass('ranking-item_a')
			rankingSwiper.slideTo($(this).index())
		})
		  
	})
	
			/**
     * jQuery
     */
    $(function () {
        // 首先调用JSBridge初始化代码，完成后再设置其他
        initJsBridge(function () {
			$(".back").click(function(){
				window.WebViewJavascriptBridge.callHandler('back','1', function (response) {
				
					 //showResponse(response);
				});
			
			})
		
	    })
	
	})
	
	</script>
</html>