{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    {include file="form" /}
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            <!--{tp:menu menu="add,forbid,resume,delete,recyclebin,echarts" /}-->
            {tp:menu menu="delete,recyclebin" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            {include file="th" /}
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            {include file="td" /}
            <td class="f-14">
                {$vo.status|show_status=$vo.id}
                {tp:menu menu='fsedit' /}
                {tp:menu menu='sdelete' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript">
    function isRealName(id)
    {
        $(function(){
            $.ajax({
                type:'post',//选择get方式提交
                url:'{:url("SchoolManagement/isRealName")}',//将数据提交的页面
                data:{id:id},//传值
                success: function(data)
                {
                    if(data == '1'){
                        $('#info'+id).text('已实名');
                    }
                    if(data == '0'){
                        $('#info'+id).text('未实名');
                    }
                }
            })
        })
    }
	
	function isGuarantee(id)
    {
        $(function(){
            $.ajax({
                type:'post',//选择get方式提交
                url:'{:url("SchoolManagement/isGuarantee")}',//将数据提交的页面
                data:{id:id},//传值
                success: function(data)
                {
                    if(data == '1'){
                        $('#info1'+id).text('已担保');
                    }
                    if(data == '0'){
                        $('#info1'+id).text('未担保');
                    }
                }
            })
        })
    }
</script>
{/block}

