<!DOCTYPE html>
<html>
<head>
    <meta charset="urlTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximurlm-scale=1, urlser-scalable=no" />
    <meta name="apple-mobile-web-app-staturls-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <title></title>
    <link rel="stylesheet" href="__STATIC__/css/reset.css" />
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <script src="__STATIC__/js/jqurlerys-1.7.2.min.js"></script>
    <script src="__STATIC__/js/rem.js"></script>
</head>
    <style>
    .star_b {
        padding: 0.1rem;
    }

    .star_b .image{
        width: 30%;
        margin: 0 1%;
        float:left;
        text-align: center;
    }
   
    .image p{
        padding:0.1rem 0;
        font-size:0.12rem;

    }
    </style>
<body>   

    <div id="wrap">
        <header class="header">
            <a href="javascript:;" onclick="history.go(-1)" class="back"></a>邀请家人
        </header>
        <div class="star_b zb_b ">
         
            <div class="image">
                <a href="{:url('invite/index')}?relation=mommy">
                    <img src="__STATIC__/img/mommy.jpg">
                    <p>妈妈</p>  
                </a>    
            </div>
           
            <div class="image">
                <a href="{:url('invite/index')}?relation=dada">
                    <img src="__STATIC__/img/dada.jpg">
                    <p>爸爸</p> 
                </a>       
            </div>
           
            <div class="image">
                <a href="{:url('invite/index')}?relation=nainai"> 
                    <img src="__STATIC__/img/nainai.jpg">
                    <p>奶奶</p>   
                </a>     
            </div>
           
            <div  class="image">
                <a href="{:url('invite/index')}?relation=yeye">
                    <img src="__STATIC__/img/yeye.jpg">
                    <p>爷爷</p>  
                </a>     
            </div>
          
            <div  class="image">
                <a href="{:url('invite/index')}?relation=waipo">
                    <img src="__STATIC__/img/waipo.jpg">
                    <p>外婆</p> 
                </a>       
            </div>
          
             <div  class="image">
                <a href="{:url('invite/index')}?relation=waigong">
                    <img src="__STATIC__/img/waigong.jpg">
                    <p>外公</p> 
                </a>       
            </div>
          
            <div   class="image">
                <a href="{:url('invite/index')}?relation=dingyi">
                    <img src="__STATIC__/img/dingyi.jpg">
                    <p>自定义</p>      
                </a>  
            </div>
          
        </div>
    </div>
   <script src="__STATIC__/js/iscroll-zoom.js"></script>
    <script src="__STATIC__/js/hammer.js"></script>
    <script src="__STATIC__/js/jqurlery.photoClip.js"></script>


</body>

</htm