{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <input type="hidden" name="id" value="{$vo.id ?? ''}">



        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>校区名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <select name="schoolName" class="select"  datatype="*" nullmsg="请选择校区">
                        <option value ="{$vo.schoolName ?? ''}" selected>{$vo.schoolName ?? '请选择校区'}</option>
                        {volist name="schoolName" id="v1"}
                        <option value ="{$v1.schoolName}">{$v1.schoolName}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>



        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>班级名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <select name="className" class="select"  datatype="*" nullmsg="请选择班级">
                        <option value ="{$vo.className ?? ''}" selected>{$vo.className ?? '请选择班级'}</option>
                        {volist name="className2" id="v2"}
                        <option value ="{$v2.class}{$v2.className}">{$v2.class}{$v2.className}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>



        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>发布时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text Wdate" placeholder="发布时间" name="release_time" value="{$vo.release_time ?? ''}"  {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal}  datatype="*" nullmsg="请填写发布时间">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>课程时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text Wdate" placeholder="课程时间" name="course_time" value="{$vo.course_time ?? ''}"  {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal}  datatype="*" nullmsg="请填写上课时间">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span style="position: relative;left: -10px"><b>上午课程</b></span></label>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">课程名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="请选择课程" name="morning" id="morning" value="{$morning_course ?? ''}" >


            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">课程列表：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <select name="courselist" id="courselist" class="select">
                        <option value ="" disabled selected>请选择课程</option>
                        {volist name="allcourse" id="v3"}
                        <option value ="{$v3.id}">{$v3.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>




        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span style="position: relative;left: -10px"><b>下午课程</b></span></label>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">课程名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="请选择课程" name="afternoon" id="afternoon" value="{$afternoon_course ?? ''}" >


            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">课程列表：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box" >
                    <select name="courselist2" id="courselist2" class="select">
                        <option value ="" disabled selected>请选择课程</option>
                        {volist name="allcourse" id="v4"}
                        <option value ="{$v4.id}">{$v4.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>


        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__LIB__/showdown/1.4.2/showdown.min.js"></script>
<script>window.UEDITOR_HOME_URL = '__LIB__/ueditor/1.4.3/'</script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script>
    $(function () {


        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
            }
        });



        //上午课程的选择
        $('#courselist').change(function(){
            //开始追加课程名
            var morning_val = $('#morning').val();
            var a = $('#courselist option:checked').text(); //显示选中的值
            $('#morning').val((morning_val+','+a).replace(/^,+/,"").replace(/,+$/,""));//追加课程名

            //变回初始状态
            $('#courselist').find("option").eq(0).prop("selected",true);
        });


        //下午课程的选择
        $('#courselist2').change(function(){
            var afternoon_val = $('#afternoon').val();
            var b = $('#courselist2 option:checked').text(); //弹出显示值
            $('#afternoon').val((afternoon_val+','+b).replace(/^,+/,"").replace(/,+$/,""));


            $('#courselist2').find("option").eq(0).prop("selected",true);
        });



    })

</script>
{/block}
