<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <title>接送管理</title>
    <link rel="stylesheet" href="__STATIC__/css/reset.css" />
    <link rel="stylesheet" href="__STATIC__/css/common.css">
	<link rel="stylesheet" href="__STATIC__/css/popup.css">
    <script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__/js/rem.js"></script>
	<script type="text/javascript" src="__STATIC__/js/popup.js"></script>

	<script type="text/javascript">
		//点击禁用
		//id是联系人的id
		function forbidden(id)
		{
			var liEq = $(this).parent().index();
			var json = {
				title:"温馨提示",
				msg:"确定要禁用此联系人吗?",
				buttons:[
					{ title:"是",color:"red",click:function(){

						$.ajax({
							type: 'get',//选择get方式提交
							url: '{:url("shuttle/forbidden")}',//将数据提交的页面
							data: {id: id},//传值
							success:function(data)
							{
								if(data == 'ok'){
									$('#jin'+id).siblings('.shuttle-btg').removeClass('shuttle-bt-bg-g');
									$('#jin'+id).addClass('shuttle-bt-bg-r');
								}
							}
						});
					} },
					{ title:"否",click:function(){} }
				]
			};
			$.alertView(json);

		}


		//点击启用
		//id是联系人的id
		function start(id)
		{
			var liEq = $(this).parent().index();
			var json = {
				title:"温馨提示",
				msg:"确定要启用此联系人吗?",
				buttons:[
					{ title:"是",color:"red",click:function(){
						$.ajax({
							type:'get',//选择get方式提交
							url:'{:url("shuttle/start")}',//将数据提交的页面
							data:{id:id},//传值
							success: function(data)
							{
								if(data == 'ok'){
									$('#qi'+id).siblings('.shuttle-btr').removeClass('shuttle-bt-bg-r');
									$('#qi'+id).addClass('shuttle-bt-bg-g');
								}
							}

						});
					} },
					{ title:"否",click:function(){} }
				]
			};
			$.alertView(json);
		}



		//删除记录
		function del(id) {
			var liEq = $(this).parent().index()
			var json = {
				title: "温馨提示",
				msg: "确定要删除此联系人吗?",
				buttons: [
					{
						title:"删除",color:"red",click:function(){
						  $.ajax({
							 type:'get',//选择get方式提交
							 url:'{:url("shuttle/delete")}',//将数据提交的页面
							 data:{id:id},//传值
							 success: function(data)
							 {
								if(data == 'ok'){
									$("#del"+id).eq(liEq).parent().remove();
								}
							 }

						  });

					    }
					},
					{
						title: "取消", click: function () {
					}
					}
				]
			};

			$.alertView(json);
		}
		
		function Back(){
			android.toFinish();
			
		}
		

	</script>
</head>
<body>
    <div id="wrap">
        <header class="header  header-fixed">
            <a href="ios://gotoback" onclick="Back()" class="back"></a>接送管理
		</header>
        <div class="bb_w_l_jy jy shuttle-content" >
			<a href="{:\\think\\Url::build('Shuttle/index2')}?student_id={$student_id}&phone_account={$phone_account}&account={$account}"><h1>添加接送人<span class="fr">+</span></h1></a>
			<ul>
				{volist name="linkman_info" id="vo"}
					<li>
						<span class="fl">{$vo.relation}</span>
						<div><img src="{$linkman_img[$key]}" /></div>

						<button id="del{$vo.id}" class="fr shuttle-bt shuttle-del" onclick="del('{$vo.id}')">删除</button>

						<button  id="jin{$vo.id}" class="fr shuttle-bt shuttle-btr" onclick="forbidden('{$vo.id}')">
							 禁用
							{if condition="$linkman_access[$key] eq 0"}
							    <script type="text/javascript">
									$('#jin{$vo.id}').siblings('.shuttle-btg').removeClass('shuttle-bt-bg-g');
									$("#jin{$vo.id}").addClass('shuttle-bt-bg-r');
								</script>
							{/if}
						</button>

						<button  id="qi{$vo.id}" class="fr shuttle-bt  shuttle-btg" onclick="start('{$vo.id}')">
							  启用
							{if condition="$linkman_access[$key] eq 1"}
								<script type="text/javascript">
									$('#qi{$vo.id}').siblings('.shuttle-btr').removeClass('shuttle-bt-bg-r');
									$('#qi{$vo.id}').addClass('shuttle-bt-bg-g');
								</script>
							{/if}
						</button>
					</li>
				{/volist}
			</ul>
        </div>
    </div>


</body>
</html>