<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <title>查看详情</title>
    <link rel="stylesheet" href="__STATIC__/css/reset.css" />
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <script src="__STATIC__/js/jquerys-1.7.2.min.js"></script>
    <script src="__STATIC__/js/rem.js"></script>
</head>
<body>
    <div id="wrap">
        <header class="header header-fixed">
            <a onclick="myOnclick()" href='ios://gotoback'  value="back" class="back back1"></a>
            	详情
				
        </header>
        <div class="information">

			<div>
	            <div class="fl server-head ">
					<!--发布动态的老师头像-->
	            	<img src="__STATIC__/../../{$employee_headurl}"/>
	            </div>
	            <div class="fl server-news">
	            	<p>
		            	{$data.release}<br />
		            	<span>{$data.release_time|strtotime|date='Y-n-j H:i',###}</span>
		            </p>
	            </div>
	            <div class="clear"></div>
	        </div>
	        <p>{$data.content|htmlspecialchars_decode}</p>
       		<!--<img src="__STATIC__/img/timg(18).jpg"/>-->
       		<!--<img src="__STATIC__/img/timg19.jpg"/>-->
       		<!--<img src="__STATIC__/img/timg(17).jpg"/>-->
			<div>
       			<div class="arr-show">
       				<span class="arr-show-click arr-show-left">评论<i>{$comment_array|count}</i></span>
	        		<span class="arr-show-right">赞<i>{$zan_array|count}</i></span>
       			</div>
	        	<div class="arr-zan arr-zan-left">
	        		<ul>
	        			{volist name="comment_array" id="vo"}
							<li>
								<!--判断当前输出的是老师还是学生-->
								<?php
									 $array = $personal[$key];
									 if(array_key_exists('student_headurl',$array)){
								?>
										 <img src="__STATIC__/../../{$personal[$key]['student_headurl']}" />
								<?php

									 }else{
								?>
										 <img src="__STATIC__/../../{$personal[$key]['employee_headurl']}" />
								<?php
									 }
								?>
								<!--/判断当前输出的是老师还是学生-->
								<i>{$personal[$key]['name']}</i>
								<span>{$vo.comment_time|strtotime|date='Y-n-j H:i',###}</span>
								<p>{$vo.content}</p>
							</li>
						{/volist}
					</ul>
				</div>
	        	<div class="arr-zan arr-zan-right">
	        		<ul>
	        			{volist name="zan_user" id="v1"}
						     <li>
								 <!--判断当前输出的是老师还是学生-->
								 <?php

									 if(array_key_exists('student_headurl',$v1)){
								?>
								         <img src="__STATIC__/../../{$v1['student_headurl']}" />
								 <?php

									 }else{
								?>
								         <img src="__STATIC__/../../{$v1['employee_headurl']}" />
								 <?php
									 }
								?>
								 <!--/判断当前输出的是老师还是学生-->
								 <i>{$v1.name}</i>
							 </li>
	        			{/volist}

	        		</ul>
	        	</div>
	        </div>
        </div>
        
        <div class="information-fixed">
        	<input type="text" name="" id="" value="" placeholder="写评论..." readonly="value"/>
        	<a href="javascript:;" class="click-zan fr" style="position: relative;left: -45px"></a>
	        <!--<a href="javascript:;" class="return-news fr"></a>-->
		</div>
    </div>
</body>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.arr-show-left').click(function(){
				$(this).addClass('arr-show-click')
				$(this).siblings().removeClass('arr-show-click')
				$('.arr-zan-left').show();
				$('.arr-zan-right').hide()
				
			})
			$('.arr-show-right').click(function(){
				$(this).addClass('arr-show-click')
				$(this).siblings().removeClass('arr-show-click')
				$('.arr-zan-left').hide();
				$('.arr-zan-right').show()
				
			})
		});

		function myOnclick(){
　　		android.toFinish();
		//alert('1')
		}
	</script>
</html>